Source: meta-kde4
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>, Xavier Vello <xavier.vello@gmail.com>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kde.org

Package: kde4
Architecture: all
Section: kde
Priority: optional
Depends: kde4-minimal (>= 1), kdeplasma-addons (>= 4:4.0.98), kdeadmin (>= 4:4.0.98), 
 kdeartwork (>= 4:4.0.98), kdegraphics (>= 4:4.0.98), kdeedu (>= 4:4.0.98), 
 kdegames (>= 4:4.0.98), kdemultimedia (>= 4:4.0.98), kdenetwork (>= 4:4.0.98), 
 kdeutils (>= 4:4.0.98), kdepim (>= 4:4.0.98)
Suggests: kde-l10n (>= 4:4.0.98), xorg
Description: the K Desktop Environment 4 
 KDE, the K Desktop Environment, is the powerful, integrated, and easy-to-use 
 Free Software desktop platform and suite of applications.
 .
 This metapackage includes all the official modules released with KDE that
 are not specific to development and as well other KDE 4 applications that 
 are useful for a desktop user. This includes multimedia, networking, graphics, 
 education, games, system administration tools, and other artwork and 
 utilities.


Package: kde4-minimal
Architecture: all
Section: kde
Priority: optional
Depends: kdelibs5 (>= 4:4.0.98), kdepimlibs5 (>= 4:4.0.98), kdebase-runtime (>= 4:4.0.98),
 kdebase-workspace (>= 4:4.0.98), kdebase (>= 4:4.0.98)
Suggests: kde-l10n (>= 4:4.0.98)
Description: the K Desktop Environment 4, minimal applications
 KDE, the K Desktop Environment, is the powerful, integrated, and easy-to-use 
 Free Software desktop platform and suite of applications.
 .
 This metapackage includes the core official modules released with KDE. This
 includes just the basic desktop (browser, file manager, text editor, control
 center, panel, etc.) and important libraries and data.


Package: kde4-development
Architecture: all
Section: kde
Priority: optional
Depends: kdelibs5 (>= 4:4.0.98), kdepimlibs5 (>= 4:4.0.98), kdebase-runtime (>= 4:4.0.98),
 kdelibs5-dev (>= 4:4.0.98), kdepimlibs5-dev (>= 4:4.0.98)
Description: the KDE 4 development platform
 KDE, the K Desktop Environment, is the powerful, integrated, and easy-to-use 
 Free Software desktop platform and suite of applications.
 .
 This metapackage includes official KDE modules that are useful to developers.
